# NOTE: Rename to .env
# PORT NESTJS
PORT=3000

# DB CONFIGURATION
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# URL BASE NESTJS
URL_BASE_NESTJS=http://localhost:3000/v1/

# URL BASE CODEIGNITER
URL_BASE_CODEIGNITER=https://local.rapido-sin-riesgos/
